<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    @*<div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-flat" style="background-color:#ffffff" onclick="addCourse()"><span class="fa fa-plus"></span> Add Course</button>
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Select Course</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="courseProgTable" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:1170px; font-size:18px; font-weight:700;">
                        <thead>
                            <tr>
                                <th>COURSE</th>
                                <th style="width:100px;">PROGRESS</th>
                                <th>SCORE</th>
                                <th>ENROLLED ON</th>
                                <th>COMPLETION DATE</th>
                                <th>TIME</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:18px; font-weight:500;">
                            @*<tr>
                                <td><a href="#/" class="text-black" style="font-weight:700">Introduction to TalentLMS</a></td>
                                <td>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-light-blue" style="width: 100%; border-radius:5px;">100%</div>
                                    </div>
                                </td>
                                <td align="center"><b>99</b></td>
                                <td align="center"><b>01/01/2019</b></td>
                                <td align="center"><b>01/10/2019</b></td>
                                <td align="center"><b>35 mins</b></td>
                            </tr>*@
                        </tbody>
                        
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div>
                <form class="form-inline">
                    <button type="button" class="btn btn-default"><span class="fa fa-arrow-left"></span> Prev</button>
                    <button type="button" class="btn btn-default pull-right">Next <span class="fa fa-arrow-right"></span></button>
                </form>
            </div>


            <div id="UserActivity"></div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ProGressAct"></div>
        </div>
    </div>
</section>

<input type="hidden" id="LogDate"/>


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Home/GetSession",
            data: {},
            success: function (response) {
                UserActivityChart();
                UserProgressActivity();
                BindDataTable();
            },
            error: function (response) {
                window.location.href = '/LogIn/Index';
            }

        });
    });

    var UserActivityChart = function () {
        $.ajax({
            type: "POST",
            url: "/Home/LoadUserLogInHistoryByID1",
            data: {},
            success: function (response) {
                var WeekList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                Highcharts.chart('UserActivity', {

                    title: {
                        text: 'LogIn History'
                    },

                    yAxis: {
                        title: {
                            text: 'IsActive'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    xAxis: [{
                        categories: WeekList,
                    }],
                    series: [{
                        name: 'IsActive',
                        data: response._s
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });


            },
            error: function (response) { }
        });
        

    }
    //-------------------------DONUT--------------------------------------//
    var UserProgressActivity = function () {
        var pieColors = ['#1E90FF', '#FFFFFF'];


        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'ProGressAct',
                type: 'pie'
            },
            title: {
                text: 'Course Progress'
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    colors: pieColors,
                    shadow: false
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                }
            },
            series: [{
                name: 'Browsers',
                data: [["Progress", 7], ["Remaining", 3]],
                size: '60%',
                innerSize: '50%',
                showInLegend: true,
                dataLabels: {
                    enabled: false
                }
            }]
        });

    }
    
    var otable;
    var BindDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#courseProgTable")) {
            //Clear table for redraw
            otable.draw();
        } else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            otable = $("#courseProgTable").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Home/LoadUserCurrentCourse",
                "fnServerData": function (sSource, aoData, fnCallback) {


                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "Course",
                        "orderable": false,
                        "render": function (Course, type, full, meta) {
                            return '<a href="#/"  onclick="ocSelectThisCourse(\'' + full.CourseID + '\')" style="font-size:24px;">'+ Course +'</a>';
                        }
                    },
                    {
                        "mData": "Progress",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all",
                        "render": function (Progress, type, full, meta) {
                            return '<div class="progress progress-striped"><div class="progress-bar progress-bar-light-blue" style="width: ' + Progress + '%; border-radius:5px; color:black;" align="center">' + Progress +'%</div></div>';
                        }
                    },
                    {
                        "mData": "Score",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all"
                    },
                    {
                        "mData": "EnrolledDate",
                        "orderable": false,
                        render: function (EnrolledDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return EnrolledDate;
                            }
                            return moment.tz(EnrolledDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                    {
                        "mData": "CompletionDate",
                        "orderable": false,
                        render: function (CompletionDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return CompletionDate;
                            }
                            return moment.tz(CompletionDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                    {
                        "mData": "ConsumedTime",
                        "orderable": false
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "searching": false,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
        }
    }



</script>