<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>44 mins</h3>
                    <p>Training Time</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>1</h3>
                    <p>Groups</p>
                </div>
                <div class="icon">
                    <i class="fa fa-group text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-flat" style="background-color:#ffffff" onclick="addCourse()"><span class="fa fa-plus"></span> Add Course</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Select Course</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>COURSE</th>
                            <th style="width:100px;">PROGRESS</th>
                            <th>SCORE</th>
                            <th>ENROLLED ON</th>
                            <th>COMPLETION DATE</th>
                            <th>TIME</th>
                        </tr>
                        <tr>
                            <td><a href="#/" class="text-black" style="font-weight:700">Introduction to TalentLMS</a></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 100%; border-radius:5px;">100%</div>
                                </div>
                            </td>
                            <td align="center"><b>99</b></td>
                            <td align="center"><b>01/01/2019</b></td>
                            <td align="center"><b>01/10/2019</b></td>
                            <td align="center"><b>35 mins</b></td>
                        </tr>
                        <tr>
                            <td><a href="#/" class="text-black" style="font-weight:700">Advanced features of TalentLMS</a></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 12%; border-radius:5px;">12%</div>
                                </div>
                            </td>
                            <td align="center"><b>7</b></td>
                            <td align="center"><b>01/01/2019</b></td>
                            <td align="center"> - </td>
                            <td align="center"><b>6 mins</b></td>
                        </tr>

                        <tr>
                            <td><a href="#/" class="text-black" style="font-weight:700">Content and TalentLMS </a></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 0%; border-radius:5px;">0%</div>
                                </div>
                            </td>
                            <td align="center"><b>0</b></td>
                            <td align="center"><b>01/01/2019</b></td>
                            <td align="center"> - </td>
                            <td align="center"><b>0 mins</b></td>
                        </tr>
                        <tr>
                            <td><a href="#/" class="text-black" style="font-weight:700">Future technologies</a></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 0%; border-radius:5px;">0%</div>
                                </div>
                            </td>
                            <td align="center"><b>0</b></td>
                            <td align="center"><b>01/01/2019</b></td>
                            <td align="center"> - </td>
                            <td align="center"><b>0 mins</b></td>
                        </tr>
                        <tr>
                            <td><a href="#/" class="text-black" style="font-weight:700">Grammar</a></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 0%; border-radius:5px;">0%</div>
                                </div>
                            </td>
                            <td align="center"><b>0</b></td>
                            <td align="center"><b>01/01/2019</b></td>
                            <td align="center"> - </td>
                            <td align="center"><b>0 mins</b></td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div id="UserActivity"></div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ProGressAct"></div>
        </div>
    </div>


</section>




<script type="text/javascript">
    Highcharts.chart('UserActivity', {

        title: {
            text: 'Activity'
        },

        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });



    //-------------------------DONUT--------------------------------------//

    var pieColors = ['#1E90FF', '#FFFFFF'];


    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'ProGressAct',
            type: 'pie'
        },
        title: {
            text: 'Course Progress'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }
        },
        plotOptions: {
            pie: {
                colors: pieColors,
                shadow: false
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
            }
        },
        series: [{
            name: 'Browsers',
            data: [["Progress", 7], ["Remaining", 3]],
            size: '60%',
            innerSize: '50%',
            showInLegend: true,
            dataLabels: {
                enabled: false
            }
        }]
    });



</script>