<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CIP">8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CC">0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="PA">44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="INC">1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    @*<div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-flat" style="background-color:#ffffff" onclick="addCourse()"><span class="fa fa-plus"></span> Add Course</button>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Select Course</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="courseProgTable" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:1170px; font-size:18px; font-weight:700;">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th style="width:100px;">Progress</th>
                                <th>Score</th>
                                <th>Enrolled On</th>
                                <th>Completion Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:18px; font-weight:500;">
                            @*<tr>
                                    <td><a href="#/" class="text-black" style="font-weight:700">Introduction to TalentLMS</a></td>
                                    <td>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-light-blue" style="width: 100%; border-radius:5px;">100%</div>
                                        </div>
                                    </td>
                                    <td align="center"><b>99</b></td>
                                    <td align="center"><b>01/01/2019</b></td>
                                    <td align="center"><b>01/10/2019</b></td>
                                    <td align="center"><b>35 mins</b></td>
                                </tr>*@
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            @*<div>
                    <form class="form-inline">
                        <button type="button" class="btn btn-default"><span class="fa fa-arrow-left"></span> Prev</button>
                        <button type="button" class="btn btn-default pull-right">Next <span class="fa fa-arrow-right"></span></button>
                    </form>
                </div>*@


            <div id="UserActivity"></div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ProGressAct"></div>
        </div>
    </div>
</section>


<div class="modal fade" id="modalDeleteUserProgress">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:700;">Question</h4>
            </div>
            <div class="modal-body">
                <div align="center">
                    <label class="fa fa-question-circle" style="font-size:100px; color:red;"></label>
                    <label id="lblDelCourse" class="" style="font-size:20px;">You have already take this course. Do you want to take this again? All your progress will reset?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" onclick="ocDeleteUserProgress()" class="btn btn-danger" style="min-width:100px;">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modalProceedToExam">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:700;"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <label class="fa fa-question-circle text-center" style="font-size:100px; color:blue;"></label>
                    </div>
                </div>
                <div class="row">
                    <div align="center">
                        <label id="lblDelCourse" class="" style="font-size:20px;">Do you want to take the exam?</label>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" onclick="ocYesTakeExam()" class="btn btn-primary" style="min-width:100px;">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<input type="hidden" id="LogDate" />
<input type="hidden" id="CourseID" />

<script type="text/javascript">
    $(document).ready(function () {
        LoadingData();
        $.ajax({
            type: "POST",
            url: "/Home/GetSession",
            data: {},
            success: function (response) {
                PanelBoxStatus();
                UserActivityChart();
                UserProgressActivity();
                BindDataTable();
            },
            error: function (response) {
                window.location.href = '/LogIn/Index';
            }

        });
    });

    var PanelBoxStatus = function () {
        $.ajax({
            type: "POST",
            url: "/Home/LoadPanelBoxData",
            data: {},
            success: function (response) {
                $("#CIP").text(response._cip);
                $("#CC").text(response._cc);
                $("#PA").text(response._pa);
                $("#INC").text(response._inc);
            },
            error: function (response) { }
        });
    }

    var UserActivityChart = function () {
        $.ajax({
            type: "POST",
            url: "/Home/LoadUserLogInHistoryByID1",
            data: {},
            success: function (response) {
                var WeekList = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                Highcharts.chart('UserActivity', {

                    title: {
                        text: 'LogIn History'
                    },

                    yAxis: {
                        title: {
                            text: 'IsActive'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    xAxis: [{
                        categories: WeekList,
                    }],
                    series: [{
                        name: 'IsActive',
                        data: response._s
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });


            },
            error: function (response) { }
        });


    }
    //-------------------------DONUT--------------------------------------//
    var UserProgressActivity = function () {

        $.ajax({
            type: "POST",
            url: "/Home/LoadUserProgressAndStatus",
            data: {},
            success: function (response) {
                var pieColors = ['#4fff63', '#dbdbdb'];
                var prog = 0; 
                if (response._tCurrentPer >= 100) {
                    prog = 100;
                } else {
                    prog = response._tCurrentPer;
                }
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'ProGressAct',
                        type: 'pie'
                    },
                    title: {
                        text: 'Course Progress'
                    },
                    yAxis: {
                        title: {
                            text: 'Total percent market share'
                        }
                    },
                    plotOptions: {
                        pie: {
                            colors: pieColors,
                            shadow: false
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                        }
                    },
                    series: [{
                        name: 'Browsers',
                        data: [["Progress", prog], ["Remaining", response._tRemnainPer]],
                        size: '60%',
                        innerSize: '50%',
                        showInLegend: true,
                        dataLabels: {
                            enabled: false
                        }
                    }]
                });
            },
            error: function (response) { }
        });

    }
    var otable;
    var BindDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#courseProgTable")) {
            //Clear table for redraw
            otable.draw();
        } else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            otable = $("#courseProgTable").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Home/LoadUserCurrentCourse",
                "fnServerData": function (sSource, aoData, fnCallback) {


                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "Course",
                        "orderable": false,
                        "render": function (Course, type, full, meta) {
                            debugger
                            var comp = moment.tz(full.CompletionDate, 'Asia/Manila').format("MM/DD/YYYY");
                            var now = moment.tz('Asia/Manila').format("MM/DD/YYYY");
                            //var dComp = new Date(comp);
                            // dNow = new Date(now);
                            if (full.Progress < 100 && comp > now) {
                                return '<a href="#/"  onclick="ocSelectThisCourse(\'' + full.CourseID + '\')" style="font-size:24px;">' + Course + '</a>';
                            } else if (full.Progress < 100 && comp < now) {
                                return '<a href="#/" style="font-size:24px; color:grey;">' + Course + '</a>';
                            } else {
                                return '<a href="#/" style="font-size:24px; color:green;">' + Course + ' <span class="fa fa-check"></span></a>';
                            }

                        }
                    },
                    {
                        "mData": "Progress",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all",
                        "render": function (Progress, type, full, meta) {
                            if (Progress >= 100) {
                                return '<div class="progress progress-striped"><div class="progress-bar progress-bar-green" style="width: 100%; border-radius:5px; color:black;" align="center">100%</div></div>';
                            }
                            return '<div class="progress progress-striped"><div class="progress-bar progress-bar-green" style="width: ' + Progress + '%; border-radius:5px; color:black;" align="center">' + Progress + '%</div></div>';
                        }
                    },
                    {
                        "mData": "Score",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all",
                        "render": function (Score, type, full, meta) {
                            if (full.Progress >= 100) {
                                return Score;
                            } else {
                                return 0;
                            }
                        }
                    },
                    {
                        "mData": "EnrolledDate",
                        "orderable": false,
                        render: function (EnrolledDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return EnrolledDate;
                            }
                            return moment.tz(EnrolledDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                    {
                        "mData": "CompletionDate",
                        "orderable": false,
                        render: function (CompletionDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return CompletionDate;
                            }
                            return moment.tz(CompletionDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                    {
                        "mData": "ConsumedTime",
                        "orderable": false
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "searching": false,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
            EndLoading();
        }

    }

    var ocSelectThisCourse = function (CID) {
        $("#CourseID").val(CID);
        $.ajax({
            type: "POST",
            url: "/Home/CheckCurrentStatus",
            data: { "CourseID": CID },
            success: function (response) {
                debugger
                var result = parseInt(response.res);
                if (result > 0) {
                    $("#modalDeleteUserProgress").modal('show');
                } else {
                    $("#modalProceedToExam").modal('show');

                }
            },
            error: function (response) { }
        });


    }

    var ocDeleteUserProgress = function () {
        var CID = $("#CourseID").val();
        if (CID != "") {
            $.ajax({
                type: "POST",
                url: "/Home/ResetUserCourseProgress",
                data: { "CourseID": CID },
                success: function (response) {
                    debugger
                    var result = response.res;
                    if (result == true) {
                        EraseEmployeeAnswers(CID);
                    } else {
                        alert("ERROR: The exam result is already set, please contact your administrator if you want to retake the exam.");
                        $("#modalDeleteUserProgress").modal('hide');
                    }
                },
                error: function (response) { }
            });
        } else {
            alert("ERROR: Please try again");
        }
    }

    function EraseEmployeeAnswers(CID) {
        $.ajax({
            type: "POST",
            url: "/Home/EraseEmployeeAswerByCourseID",
            data: { "CourseID": CID },
            success: function (response) {
                debugger
                var result = response.res;
                if (result == true) {
                    alert("Data reset successfully");
                    $("#modalDeleteUserProgress").modal('hide');
                    BindDataTable();
                } else {
                    alert("ERROR: The exam result is already set, please contact your administrator if you want to retake the exam.");
                    $("#modalDeleteUserProgress").modal('hide');
                }
            },
            error: function (response) { }
        });
    }


    var ocYesTakeExam = function () {
        var CID = $("#CourseID").val();
        $("#modalProceedToExam").modal('hide');
        window.location.href = "/Exam/Exam?CourseID=" + CID + ""
    }

</script>