
@{
    ViewBag.Title = "Agent Reports";
}
<style>
    .mt-1 {
        margin-top: 5px;
    }

    .mt-2 {
        margin-top: 10px;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .mt-4 {
        margin-top: 20px;
    }

    .mt-5 {
        margin-top: 25px;
    }

    .vdivider {
        width: 1px;
        margin: 6px 0;
        background: gray;
        /*border-left: 1px solid gray;
        height: auto;
        max-height:500px;*/
    }

    #row1 {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0 -8px;
    }

    #row1 > * {
        margin: 0 8px;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CIP">8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CC">0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="PA">44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="INC">1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Course Information</h3>
                </div>
                <div class="box-body" style="min-height:auto">
                    <!--800px;-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#CourseEmployeeListStatus" data-toggle="tab" style="font-weight:600;">Employee List Status <span class="fa fa-hourglass-1"></span></a></li>
                                    <li><a href="#CourseReports" onclick="ocCourseReports()" data-toggle="tab" style="font-weight:600;">Reports <span class="fa fa-folder-open"></span></a></li>
                                    <li><a href="#CoursePersonalityReports" onclick="ocPersonalityReports()" data-toggle="tab" style="font-weight:600;">Personality Reports <span class="fa fa-file-excel-o"></span></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="CourseEmployeeListStatus">
                                        <table id="tblEmpListStatus" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:1170px; font-size:18px; font-weight:700;">
                                            <thead>
                                                <tr>
                                                    <th>Employee Number</th>
                                                    <th>Name</th>
                                                    <th>Course</th>
                                                    <th style="width:100px;">Progress</th>
                                                    <th>Score</th>
                                                    <th>Status</th>
                                                    <th>Enrolled On</th>
                                                    <th>Completion Date</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="CourseReports">
                                        <!--<form class="form-inline" style="margin-bottom:10px;">-->
                                        <!--</form>-->
                                        <div class="row" id="row1">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-2">
                                                        <label>Select Status:</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <select class="form-control" id="EmpStatus">
                                                            <option value="PASSED">PASSED</option>
                                                            <option value="FAILED">FAILED</option>
                                                            <option value="INPROGRESS">INPROGRESS</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-2">
                                                        <label>Date From: </label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <input type="date" class="form-control" id="dFrom" onchange="ocDFrom()">
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 mt-2">
                                                        <label>To: </label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <input type="date" class="form-control" id="dTo" onchange="ocDTo()">
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <table id="tblEmpStatusByDate" class="table table-bordered table-striped table-responsive" style="width:100%; min-height:100px; min-width:600px; font-size:18px; font-weight:700;">
                                                        <thead>
                                                            <tr>
                                                                <th>Emp#</th>
                                                                <th>Name</th>
                                                                <th>Score</th>
                                                                <th>Campiagn</th>
                                                                <th>Enrolled On</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size:18px; font-weight:500;"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="vdivider"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="CoursePersonalityReports">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <div id="container2" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
        </div>
    </div>
</section>
<script src="~/Scripts/Dev_Scripts/AgentIndex.js"></script>