
@{
    ViewBag.Title = "Agent Reports | E-Learning";

    //newly added
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mt-1 {
        margin-top: 5px;
    }

    .mt-2 {
        margin-top: 10px;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .mt-4 {
        margin-top: 20px;
    }

    .mt-5 {
        margin-top: 25px;
    }

    .vdivider {
        width: 1px;
        margin: 6px 0;
        background: gray;
        /*border-left: 1px solid gray;
        height: auto;
        max-height:500px;*/
    }

    #row1 {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0 -8px;
    }

        #row1 > * {
            margin: 0 8px;
        }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CIP">8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CC">0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="PA">44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="INC">1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Course Information</h3>
                </div>
                <div class="box-body" style="min-height:auto">
                    <!--800px;-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#CourseEmployeeListStatus" data-toggle="tab" style="font-weight:600;">Employee List Status <span class="fa fa-hourglass-1"></span></a></li>
                                    <li><a href="#CourseReports" onclick="ocCourseReports()" data-toggle="tab" style="font-weight:600;">Reports <span class="fa fa-folder-open"></span></a></li>
                                    <li><a href="#CoursePersonalityReports" data-toggle="tab" style="font-weight:600;">Personality Reports <span class="fa fa-file-excel-o"></span></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="CourseEmployeeListStatus">
                                        <table id="tblEmpListStatus" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:1170px; font-size:18px; font-weight:700;">
                                            <thead>
                                                <tr>
                                                    <th>Employee Number</th>
                                                    <th>Name</th>
                                                    <th>Course</th>
                                                    <th style="width:100px;">Progress</th>
                                                    <th>Score</th>
                                                    <th>Status</th>
                                                    <th>Enrolled On</th>
                                                    <th>Completion Date</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="CourseReports">
                                        <!--<form class="form-inline" style="margin-bottom:10px;">-->
                                        <!--</form>-->
                                        <div class="row" id="row1">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-2">
                                                        <label>Select Status:</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <select class="form-control" id="EmpStatus">
                                                            <option value="PASSED">PASSED</option>
                                                            <option value="FAILED">FAILED</option>
                                                            <option value="INPROGRESS">INPROGRESS</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-2">
                                                        <label>Date From: </label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <input type="date" class="form-control" id="dFrom" onchange="ocDFrom()">
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 mt-2">
                                                        <label>To: </label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <input type="date" class="form-control" id="dTo" onchange="ocDTo()">
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <table id="tblEmpStatusByDate" class="table table-bordered table-striped table-responsive" style="width:100%; min-height:100px; min-width:600px; font-size:18px; font-weight:700;">
                                                        <thead>
                                                            <tr>
                                                                <th>Emp#</th>
                                                                <th>Name</th>
                                                                <th>Score</th>
                                                                <th>Campiagn</th>
                                                                <th>Enrolled On</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size:18px; font-weight:500;"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="vdivider"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="CoursePersonalityReports">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Employee Name</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <select class="form-control" id="ddEmployeeList">
                                                    <option value="1">Select Employee</option>
                                                    @foreach (var item in ViewBag.AppliedEmployeelist)
                                                    {
                                                        <option value="@item.EmployeeNumber.Trim()">@item.EmployeeNumber - @item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div id="container2" style="width:100%; min-width: 500px; height: 400px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
        </div>
    </div>
</section>
<!--<script src="~/Scripts/Dev_Scripts/AgentIndex.js"></script>-->
<script>
    $(document).ready(function () {
        PanelBoxStatus();
    });

    var PanelBoxStatus = function () {
        $.ajax({
            type: "POST",
            url: "/Agent/LoadPanelBoxDataOfAllAgents",
            data: {},
            success: function (response) {
                $("#CIP").text(response._cip);
                $("#CC").text(response._cc);
                $("#PA").text(response._pa);
                $("#INC").text(response._inc);
                BindDataTable();
            },
            error: function (response) { }
        });
    }

    var otable;
    var BindDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#tblEmpListStatus")) {
            //Clear table for redraw
            otable.draw();
        }
        else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            otable = $("#tblEmpListStatus").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Agent/LoadEmployeeCourseStatus",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "EmployeeNumber",
                        "orderable": false,
                        "width": "150px",
                        "className": "text-center", "targets": "_all",
                        "render": function (EmployeeNumber, type, full, meta) {
                            return '<a href="#/">' + EmployeeNumber + '</a>';
                        }
                    },
                    {
                        "mData": "EmpName",
                        "orderable": false
                    },
                    {
                        "mData": "Course",
                        "orderable": false
                    },
                    {
                        "mData": "Progress",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all",
                        "render": function (Progress, type, full, meta) {
                            if (Progress >= 100) {
                                return '<div class="progress progress-striped"><div class="progress-bar progress-bar-green" style="width: 100%; border-radius:5px; color:black;" align="center">100%</div></div>';
                            }
                            return '<div class="progress progress-striped"><div class="progress-bar progress-bar-green" style="width: ' + Progress + '%; border-radius:5px; color:black;" align="center">' + Progress + '%</div></div>';
                        }
                    },
                    {
                        "mData": "Score",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all"
                    },
                    {
                        "mData": "Status1",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all"
                    },
                    {
                        "mData": "EnrolledDate",
                        "orderable": false,
                        render: function (EnrolledDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return EnrolledDate;
                            }
                            return moment.tz(EnrolledDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                    {
                        "mData": "CompletionDate",
                        "orderable": false,
                        render: function (CompletionDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return CompletionDate;
                            }
                            return moment.tz(CompletionDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
        }
    }
    //Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>

    var ocCourseReports = function () {
        $.ajax({
            type: "POST",
            url: "/Agent/GetEmployeeStatusForBarChart",
            data: {},
            success: function (response) {
                getDateRange();
                var BarColors = ['#4fff63', '#ff9b9b', '#91f9ff'];
                var now = moment.tz('Asia/Manila').format("YYYY");
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Employee Exam Result of ' + now
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Total percent market share'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            colors: BarColors,
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.1f}%'
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },
                    "series": [
                        {
                            "name": "Browsers",
                            "colorByPoint": true,
                            "data": [
                                {
                                    "name": "Passed",
                                    "y": response.passed
                                },
                                {
                                    "name": "Failed",
                                    "y": response.failed
                                },
                                {
                                    "name": "InProgress",
                                    "y": response.inprog
                                }
                            ]
                        }
                    ]
                });
            },
            error: function (response) { }
        });
    }

    function getDateRange() {
        $.ajax({
            type: "POST",
            url: "/Agent/GetDateRange",
            data: {},
            success: function (response) {

                var dateFrom = response._dateFrom;
                var dateTo = response._dateTo;

                var FromDate = new Date(dateFrom);
                var Fday = ("0" + FromDate.getDate()).slice(-2);
                var Fmonth = ("0" + (FromDate.getMonth() + 1)).slice(-2);
                var Ftoday = FromDate.getFullYear() + "-" + (Fmonth) + "-" + (Fday);

                var ToDate = new Date(dateTo);
                var Tday = ("0" + ToDate.getDate()).slice(-2);
                var Tmonth = ("0" + (ToDate.getMonth() + 1)).slice(-2);
                var Ttoday = ToDate.getFullYear() + "-" + (Tmonth) + "-" + (Tday);

                $("#dFrom").val(Ftoday);
                $("#dTo").val(Ttoday);
                EmpStatusDataTable();
            }
        });
    }

    var stable;
    var EmpStatusDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#tblEmpStatusByDate")) {
            //Clear table for redraw
            stable.draw();
        }
        else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            stable = $("#tblEmpStatusByDate").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Agent/LoadEmployeeByStatusAndDateRange",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    var empStatus = $("#EmpStatus option:selected").val();
                    var dFrom = $("#dFrom").val();
                    var dTo = $("#dTo").val();

                    aoData.push({ "name": "Status", "value": empStatus });
                    aoData.push({ "name": "DFrom", "value": dFrom });
                    aoData.push({ "name": "DTo", "value": dTo });

                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "EmployeeNumber",
                        "orderable": false,
                        "width": "25px",
                        "className": "text-center", "targets": "_all",
                        "render": function (EmployeeNumber, type, full, meta) {
                            return '<a href="#/">' + EmployeeNumber + '</a>';
                        }
                    },
                    {
                        "mData": "EmpName",
                        "width": "200px",
                        "orderable": false
                    },
                    {
                        "mData": "Score",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all"
                    },
                    {
                        "mData": "CampiagnName",
                        "orderable": false,
                        "className": "dt-center", "targets": "_all"
                    },
                    {
                        "mData": "EnrolledDate",
                        "orderable": false,
                        render: function (EnrolledDate, type, row) {
                            if (type === "sort" || type === "type") {
                                return EnrolledDate;
                            }
                            return moment.tz(EnrolledDate, 'Asia/Manila').format("MM/DD/YYYY");
                        }
                    },
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "searching": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
        }
    }

    $("#EmpStatus").change(function () {
        EmpStatusDataTable();
    });

    var ocDFrom = function () { EmpStatusDataTable(); }

    var ocDTo = function () { EmpStatusDataTable(); }

    $("#ddEmployeeList").change(function () {
        debugger
        var empNumber1 = $("#ddEmployeeList option:selected").val();
        var empName1 = $("#ddEmployeeList option:selected").text();

        if (empNumber1 == "1" || empNumber1 == null) {
            document.getElementById("container2").style.display = "none";
        }
        else {
            ocPersonalityReports(empNumber1, empName1);
            document.getElementById("container2").style.display = "block";
        }
    });

    var ocPersonalityReports = function (empNumber, empName) {
        $.ajax({
            type: "POST",
            url: "/Agent/getPersonalityTestResult",
            data: { "EmployeeNumber": empNumber },
            success: function (response) {

                getDateRange();
                var BarColors = ['#c6341d', '#e9ef3e', '#2cd129', '#23c6ab', '#1c78c9'];
                var now = moment.tz('Asia/Manila').format("YYYY");

                Highcharts.chart('container2', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Personality Exam Result of ' + empName
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Personality Exam Result'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            colors: BarColors,
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.1f}'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    "series": [
                        {
                            "name": "Result",
                            "colorByPoint": true,
                            "data": [
                                {
                                    "name": "Extroversion",
                                    "y": response._e
                                },
                                {
                                    "name": "Agreeableness",
                                    "y": response._a
                                },
                                {
                                    "name": "Conscientiousness",
                                    "y": response._c
                                },
                                {
                                    "name": "Neuroticism",
                                    "y": response._n
                                },
                                {
                                    "name": "Openness",
                                    "y": response._o
                                }
                            ]
                        }
                    ]
                });
            },
            error: function (response) { }
        });
    }
</script>