
@{
    ViewBag.Title = "Video Library | E-Learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" style="padding: 0px 0px 0px 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="font-weight:700; font-size:24px;">Video Library</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 style="font-weight:700; font-size:20px;">Course</h4>
                                <table id="tblAppliedCourse" class="table table-striped table-hover table-responsive" style="min-width:500px;">
                                    <thead style="font-size:18px;">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Course</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:16px;"></tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h4 style="font-weight:700; font-size:20px;">Video List</h4>
                                <table id="tblVideoList" class="table table-striped table-hover table-responsive" style="min-width:500px;height:50%">
                                    <thead style="font-size:18px;">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">Title</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:16px;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDisplayVideoSelected">
    <div class="modal-dialog" style="margin-top:5%;width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <label style="font-size:xx-large;font-weight:300" id="labelTitle"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div align="center">
                    <video id="videoTuitorial" controls width="100%" height="500"></video>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info" onclick="StopPlayingVideo()">Close</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="CourseID" />

<script>
    $(document).ready(function () {
        LoadingData();
        $.ajax({
            type: "POST",
            url: "/Home/GetSession",
            data: {},
            success: function (response) {
                AppliedCourseDataTable();
            },
            error: function (response) {
                window.location.href = '/LogIn/Index';
            }
        });
    });

    var actable;
    var AppliedCourseDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#tblAppliedCourse")) {
            //Clear table for redraw
            actable.draw();
            EndLoading();
        }
        else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");

            actable = $("#tblAppliedCourse").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Course/GetAllCourseApplied",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    var EmployeeNumber = $("#EmployeeNumber").val();
                    aoData.push({ "name": "EmployeeNumber", "value": EmployeeNumber });

                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "ID",
                        "orderable": false,
                        "width": "24px",
                        "visible": true,
                        //"className": "text-center", "targets": "_all",
                        "render": function (ID, type, full, meta) {
                            return '<a href="#/" onclick="SelectCourse(\'' + ID + '\')" style="color:#fd4a81;">Select</a>';
                        }
                    },
                    {
                        "mData": "Course",
                        "orderable": false,
                        //"width": "100px"
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": false,
                "bPaginate": false,
                "sScrollY": "300",
                //"scrollX": false,
                "bScrollCollapse": false,
                "searching": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
            EndLoading();
        }
    }

    var SelectCourse = function (ID) {
        $("#CourseID").val(ID);
        GetVideoList();
    }

    var vtable;
    var GetVideoList = function () {        //if table exist
        if ($.fn.DataTable.isDataTable("#tblVideoList")) {
            //Clear table for redraw
            vtable.draw();
            EndLoading();
        }
        else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");

            vtable = $("#tblVideoList").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Course/GetVideoList",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    var CourseID = $("#CourseID").val();
                    aoData.push({ "name": "CourseID", "value": CourseID });

                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "CourseID",
                        "orderable": false,
                        "width": "24px",
                        "visible": true,
                        "render": function (SrcFile, type, full, meta) {
                            return '<a href="#/" onclick="ViewVideo(\'' + full.SrcFile + '\',\'' + full.Title + '\')" style="color:#fd4a81;">View</a>';
                        }
                    },
                    {
                        "mData": "Course",
                        "orderable": false,
                        "width": "100px",
                        "visible": false
                    },
                    {
                        "mData": "CourseSecID",
                        "orderable": false,
                        //"width": "24px",
                        "visible": false
                    },
                    {
                        "mData": "Title",
                        "orderable": false,
                        //"width": "100px"
                    },
                    {
                        "mData": "SrcFile",
                        "orderable": false,
                        //"width": "100px",
                        "visible": false
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": false,
                "bPaginate": false,
                "sScrollY": "300",
                //"scrollX": false,
                "bScrollCollapse": false,
                "searching": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
            EndLoading();
        }
    }

    var ViewVideo = function (sourceFile, Title) {
        debugger
        //alert(sourceFile);
        //var videoID =
        $("#labelTitle").text(Title);
        document.getElementById("videoTuitorial").src = sourceFile;
        $("#modalDisplayVideoSelected").modal({
            backdrop: "static",
            keyboard: false
        });
    }

    var StopPlayingVideo = function () {
        var vid = document.getElementById("videoTuitorial");
        vid.pause();
    }
</script>