
@{
    ViewBag.Title = "ViewCourseList";
}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CIP">8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CC">0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="PA">44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="INC">1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <a href="#" class="small-box-footer text-black">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    @*<div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-flat" style="background-color:#ffffff" onclick="addCourse()"><span class="fa fa-plus"></span> Add Course</button>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-5 col-lg-5 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Course List</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table id="tblCourse" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:500px; font-size:18px; font-weight:700;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Course</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-7 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Employee Enrolled</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table id="tblEmployeeEnrolled" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:600px; font-size:18px; font-weight:700;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Campaign</th>
                                    <th>Progress</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div id="UserActivity"></div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ProGressAct"></div>
        </div>
    </div>
</section>

<input type="hidden" id="LogDate" />
<input type="hidden" id="cID" />
<input type="hidden" id="eID" />

<div class="modal fade" id="modalDeleteCourseListData">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:700;">Question</h4>
            </div>
            <div class="modal-body">
                <div align="center">
                    <label class="fa fa-question-circle" style="font-size:100px; color:red;"></label>
                    <label id="lblDelCourse" class="hidden" style="font-size:20px;">Are you sure you want to delete this course? All employee enrolled in this course will be deleted??</label>
                    <br /><label id="lblDelEmp" class="hidden" style="font-size:20px;">Are you sure you want to remove this employee??</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" onclick="ocDeleteCourse()" class="btn btn-danger hidden" style="min-width:100px;">Yes</button>
                <button type="button" id="btnDeleteEmployee" onclick="ocRemoveEmployee()" class="btn btn-danger hidden" style="min-width:100px;">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Home/GetSession",
            data: {},
            success: function (response) {
                PanelBoxStatus();
            },
            error: function (response) {
                window.location.href = '/LogIn/Index';
            }

        });
    });

    var PanelBoxStatus = function () {
        $.ajax({
            type: "POST",
            url: "/Home/LoadPanelBoxData",
            data: {},
            success: function (response) {
                $("#CIP").text(response._cip);
                $("#CC").text(response._cc);
                $("#PA").text(response._pa);
                $("#INC").text(response._inc);
                CourseDataTable();
            },
            error: function (response) { }
        });
    }

    var ctable;
    var CourseDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#tblCourse")) {
            //Clear table for redraw
            ctable.draw();
        } else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            ctable = $("#tblCourse").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Course/LoadCourseDetails",
                "fnServerData": function (sSource, aoData, fnCallback) {


                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "ID",
                        "orderable": false,
                        "className": "text-center", "targets": "_all",
                        "render": function (ID, type, full, meta) {
                            return '<a href="#/" onclick="ocSelectThisCourse(\'' + ID + '\')"> <span class="fa fa-check-circle" title="Select this course">Select</span></a> | <a href="#/" onclick="ocDeleteThisCourse(\'' + ID + '\')" style="color:#cc0000;"> <span class="fa fa-minus-circle" title="Delete this course"> Delete</span></a>';
                        }
                    },
                    {
                        "mData": "Course",
                        "orderable": false

                    },
                    {
                        "mData": "Description",
                        "orderable": false
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "searching": false,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
        }
    }

    var etable;
    var EmployeeDataTable = function () {
        //if table exist
        if ($.fn.DataTable.isDataTable("#tblEmployeeEnrolled")) {
            //Clear table for redraw
            etable.draw();
        } else {
            moment.tz.add("Asia/Manila|+08 +09|-80 -90|010101010|-1kJI0 AL0 cK10 65X0 mXB0 vX0 VK10 1db0|24e6");
            etable = $("#tblEmployeeEnrolled").DataTable({
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Course/LoadEmployeeByCourseID",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    var courseID = $("#cID").val();
                    aoData.push({ "name": "CourseID", "value": courseID });

                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        "mData": "EmployeeNumber",
                        "orderable": false,
                        "render": function (EmployeeNumber, type, full, meta) {
                            return '<a href="#/" onclick="ocKickOutEmployee(\'' + EmployeeNumber + '\')" style="color:#cc0000;"> <span class="fa fa-user-times" title="Delete user"></span></a>';
                        }
                    },
                    {
                        "mData": "EmpName",
                        "orderable": false

                    },
                    {
                        "mData": "CampiagnName",
                        "orderable": false
                    },
                    {
                        "mData": "Progress",
                        "orderable": false,
                        "render": function (Progress, type, full, meta) {
                            if (Progress >= 100) {
                                return 100;
                            }
                            return Progress;
                        }
                    },
                    {
                        "mData": "Score",
                        "orderable": false
                    }
                ],
                responsive: true,
                select: { style: 'single' },
                "bInfo": true,
                "searching": false,
                "bPaginate": false,
                "sScrollY": "300",
                "scrollX": true,
                "bScrollCollapse": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            });
        }
    }


    var ocSelectThisCourse = function (cid) {
        $("#cID").val(cid);
        EmployeeDataTable();
    }

    var ocDeleteThisCourse = function (cid) {
        $("#cID").val(cid);
        $("#lblDelCourse").removeClass('hidden');
        $("#lblDelEmp").addClass('hidden');
        $("#btnDeleteCourse").removeClass('hidden');
        $("#btnDeleteEmployee").addClass('hidden');
        $("#modalDeleteCourseListData").modal('show');
    }

    var ocDeleteCourse = function () {
        var cid = $("#cID").val();
        if (cid != "") {
            $.ajax({
                type: "POST",
                url: "/Course/DeleteCourseByCourseID",
                data: { "CourseID": cid },
                success: function (response) {
                    var r = response.res;
                    if (r == true) {
                        alert("Course is successfully deleted");
                        $("#modalDeleteCourseListData").modal('hide');
                        CourseDataTable();
                    } else {
                        alert("Error: Please try again");
                    }
                },
                error: function (response) { }
            });
        }

    }

    var ocKickOutEmployee = function (eid) {
        $("#eID").val(eid);
        $("#lblDelCourse").addClass('hidden');
        $("#lblDelEmp").removeClass('hidden');
        $("#btnDeleteCourse").addClass('hidden');
        $("#btnDeleteEmployee").removeClass('hidden');
        $("#modalDeleteCourseListData").modal('show');
    }

    var ocRemoveEmployee = function () {
        var eid = $("#eID").val();
        var cid = $("#cID").val();
        if (eid != "" && cid != "") {
            $.ajax({
                type: "POST",
                url: "/Course/RemoveEmployeeFromCourseByEMployeeNumber",
                data: { "EmployeeNumber": eid, "CourseID": cid },
                success: function (response) {
                    var r = response.res;
                    if (r == true) {
                        DeleteAllEmployeeAnswerByCourseID(eid, cid);
                    } else {
                        alert("Error: Please try again");
                    }
                },
                error: function (response) { }
            });
        }
    }

    function DeleteAllEmployeeAnswerByCourseID(eid, cid) {
        if (eid != "" && cid != "") {
            $.ajax({
                type: "POST",
                url: "/Course/EraseEmployeeAswerByCourseID",
                data: { "EmployeeNumber": eid, "CourseID": cid },
                success: function (response) {
                    var r = response.res;
                    if (r == true) {
                        alert("Employe removed successfully");
                        $("#modalDeleteCourseListData").modal('hide');
                        EmployeeDataTable();
                    } else {
                        alert("Error: Please try again");
                    }
                },
                error: function (response) { }
            });
        }
    }

</script>