
@{
    ViewBag.Title = "View Course List | E-Learning";
}
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CIP">8</h3>
                    <p>Course in Progress</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="CC">0</h3>
                    <p>Completed Courses</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-circle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="PA">44</h3>
                    <p>Passed Agent</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="INC">1</h3>
                    <p>Incompleted Course</p>
                </div>
                <div class="icon">
                    <i class="fa fa-exclamation-triangle text-black"></i>
                </div>
                <label class="small-box-footer text-black"><i class="fa fa-bars"></i></label>
            </div>
        </div>
    </div>
    <!-- /.row -->
    @*<div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-flat" style="background-color:#ffffff" onclick="addCourse()"><span class="fa fa-plus"></span> Add Course</button>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Course List</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table id="tblCourse" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:600px; font-size:18px; font-weight:700;">
                            <thead>
                                <tr>
                                    <th style="width:130px;"></th>
                                    <th>Course</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size:20px; font-weight:700;">Employee Enrolled</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table id="tblEmployeeEnrolled" class="table table-bordered table-striped" style="width:100%; min-height:100px; min-width:600px; font-size:18px; font-weight:700;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Campaign</th>
                                    <th>Progress</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:18px; font-weight:500;"></tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div id="UserActivity"></div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ProGressAct"></div>
        </div>
    </div>
</section>

<input type="hidden" id="LogDate" />
<input type="hidden" id="cID" />
<input type="hidden" id="eID" />

<div class="modal fade" id="modalDeleteCourseListData">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="font-weight:700;">Question</h4>
            </div>
            <div class="modal-body">
                <div align="center">
                    <label class="fa fa-question-circle" style="font-size:100px; color:red;"></label>
                    <label id="lblDelCourse" class="hidden" style="font-size:20px;">Are you sure you want to delete this course? All employee enrolled in this course will be deleted??</label>
                    <br /><label id="lblDelEmp" class="hidden" style="font-size:20px;">Are you sure you want to remove this employee??</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteCourse" onclick="ocDeleteCourse()" class="btn btn-danger hidden" style="min-width:100px;">Yes</button>
                <button type="button" id="btnDeleteEmployee" onclick="ocRemoveEmployee()" class="btn btn-danger hidden" style="min-width:100px;">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript" src="~/Scripts/Dev_Scripts/CourseList.js"></script>